// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-1" {
    mode "2560x1440@60" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
    position x=-320 y=0 // Centered above eDP-1 ((2560-1920)/2=-320)
    hot-corners {
        off
    }
}

output "eDP-1" {
    mode "1920x1200@60" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
    position x=0 y=1440 // Below DP-1 (1440 is the height of DP-1)
    hot-corners {
        off
    }
}
