* {
  min-height: 0;
  min-width: 0;
  font-family: "FontAwesome 5", "JetBrainsMono";
  font-size: 10px;
  font-weight: 600;
  color: #01091a;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #01091a;
}

#workspaces button {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #0d4a94;
  color: #abbecd;
}

#workspaces button:hover {
  color: #4e7399;
  background-color: #369fa8;
}

#workspaces button.active {
  background-color: #369fa8;
  color: #abbecd;
}

#workspaces button.urgent {
  background-color: #369fa8;
  color: #0d4a94;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#network,
#battery,
#mpris {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #0d4a94;
}

#mpris.playing {
  background-color: #135da6;
}

#mpris.paused {
  background-color: #abbecd;
}

#network {
  background-color: #abbecd;
}

#battery {
  background-color: #abbecd;
}

#custom-sep {
  padding: 0px;
  background-color: #369fa8;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #4e7399;
}

#memory {
  background-color: #135da6;
}

#language {
  background-color: #2a8ead;
}

#clock {
  background-color: #2a8ead;
}

#clock.simpleclock {
  background-color: #2a8ead;
}

#window {
  background-color: #369fa8;
}

#pulseaudio {
  background-color: #196eae;
}

#pulseaudio.muted {
  background-color: #196eae;
}

#custom-logo {
  background-color: #135da6;
}

#custom-power {
  background-color: #0d4a94;
}

tooltip {
  background-color: #0d4a94;
  border: 2px solid #369fa8;
}
