* {
  min-height: 0;
  min-width: 0;
  font-family: "FontAwesome 5", "JetBrainsMono NFP";
  font-size: 11px;
  font-weight: 600;
  color: #131d14;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #131d14;
}

#workspaces button {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #A4612C;
  color: #e1e0b8;
}

#workspaces button:hover {
  color: #A4AF18;
  background-color: #B1AD65;
}

#workspaces button.active {
  background-color: #B1AD65;
  color: #e1e0b8;
}

#workspaces button.urgent {
  background-color: #B1AD65;
  color: #A4612C;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#network,
#battery,
#mpris {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #A4612C;
}

#mpris.playing {
  background-color: #C8752F;
}

#mpris.paused {
  background-color: #e1e0b8;
}

#network {
  background-color: #e1e0b8;
}

#battery {
  background-color: #e1e0b8;
}

#custom-sep {
  padding: 0px;
  background-color: #B1AD65;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #A4AF18;
}

#memory {
  background-color: #C8752F;
}

#language {
  background-color: #F4A22B;
}

#clock {
  background-color: #F4A22B;
}

#clock.simpleclock {
  background-color: #F4A22B;
}

#window {
  background-color: #B1AD65;
}

#pulseaudio {
  background-color: #738939;
}

#pulseaudio.muted {
  background-color: #738939;
}

#custom-logo {
  background-color: #C8752F;
}

#custom-power {
  background-color: #A4612C;
}

tooltip {
  background-color: #A4612C;
  border: 2px solid #B1AD65;
}
