* {
  min-height: 0;
  min-width: 0;
  font-family: "FontAwesome 5", "JetBrainsMono NFP";
  font-size: 11px;
  font-weight: 600;
  color: #0D1118;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #0D1118;
}

#workspaces button {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #5C626D;
  color: #c6c8cc;
}

#workspaces button:hover {
  color: #7D828C;
  background-color: #989CA4;
}

#workspaces button.active {
  background-color: #989CA4;
  color: #c6c8cc;
}

#workspaces button.urgent {
  background-color: #989CA4;
  color: #5C626D;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#network,
#battery,
#mpris {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #5C626D;
}

#mpris.playing {
  background-color: #676C77;
}

#mpris.paused {
  background-color: #c6c8cc;
}

#network {
  background-color: #c6c8cc;
}

#battery {
  background-color: #c6c8cc;
}

#custom-sep {
  padding: 0px;
  background-color: #989CA4;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #7D828C;
}

#memory {
  background-color: #676C77;
}

#language {
  background-color: #878C96;
}

#clock {
  background-color: #878C96;
}

#clock.simpleclock {
  background-color: #878C96;
}

#window {
  background-color: #989CA4;
}

#pulseaudio {
  background-color: #757A85;
}

#pulseaudio.muted {
  background-color: #757A85;
}

#custom-logo {
  background-color: #676C77;
}

#custom-power {
  background-color: #5C626D;
}

tooltip {
  background-color: #5C626D;
  border: 2px solid #989CA4;
}
