* {
  min-height: 0;
  min-width: 0;
  font-family: "FontAwesome 5", "JetBrainsMono NFP";
  font-size: 11px;
  font-weight: 600;
  color: #101213;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #101213;
}

#workspaces button {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #928475;
  color: #e9e3d0;
}

#workspaces button:hover {
  color: #BAAC91;
  background-color: #D5C4A1;
}

#workspaces button.active {
  background-color: #D5C4A1;
  color: #e9e3d0;
}

#workspaces button.urgent {
  background-color: #D5C4A1;
  color: #928475;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#network,
#battery,
#mpris {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #928475;
}

#mpris.playing {
  background-color: #A1957E;
}

#mpris.paused {
  background-color: #e9e3d0;
}

#network {
  background-color: #e9e3d0;
}

#battery {
  background-color: #e9e3d0;
}

#custom-sep {
  padding: 0px;
  background-color: #D5C4A1;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #BAAC91;
}

#memory {
  background-color: #A1957E;
}

#language {
  background-color: #C7B99A;
}

#clock {
  background-color: #C7B99A;
}

#clock.simpleclock {
  background-color: #C7B99A;
}

#window {
  background-color: #D5C4A1;
}

#pulseaudio {
  background-color: #A69B84;
}

#pulseaudio.muted {
  background-color: #A69B84;
}

#custom-logo {
  background-color: #A1957E;
}

#custom-power {
  background-color: #928475;
}

tooltip {
  background-color: #928475;
  border: 2px solid #D5C4A1;
}
