* {
  min-height: 0;
  min-width: 0;
  font-family: "FontAwesome 5", "JetBrainsMono NFP";
  font-size: 11px;
  font-weight: 600;
  color: #0f1518;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #0f1518;
  border-radius: 10px;
}

#workspaces button {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.3rem;
  border-radius: 6px;
  background-color: #629298;
  color: #c2dfd8;
}

#workspaces button:hover {
  color: #bbbaa0;
  background-color: #d9d7b2;
}

#workspaces button.active {
  background-color: #d9d7b2;
  color: #c2dfd8;
}

#workspaces button.urgent {
  background-color: #d9d7b2;
  color: #629298;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#network,
#battery,
#mpris {
  padding: 0.3rem 1rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #629298;
}

#mpris.playing {
  background-color: #9faca4;
}

#mpris.paused {
  background-color: #c2dfd8;
}

#network {
  background-color: #c2dfd8;
}

#battery {
  background-color: #c2dfd8;
}

#custom-sep {
  padding: 0px;
  background-color: #d9d7b2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #bbbaa0;
}

#memory {
  background-color: #9faca4;
}

#language {
  background-color: #b1c7ba;
}

#clock {
  background-color: #b1c7ba;
}

#clock.simpleclock {
  background-color: #b1c7ba;
}

#window {
  background-color: #d9d7b2;
}

#pulseaudio {
  background-color: #8ab2b6;
}

#pulseaudio.muted {
  background-color: #8ab2b6;
}

#custom-logo {
  background-color: #9faca4;
}

#custom-power {
  background-color: #629298;
}

tooltip {
  background-color: #629298;
  border: 2px solid #d9d7b2;
}
