* {
  font-family: "Iosevka", monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  background-color: #141415;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #141415;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #141415;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #141415;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 2rem;
  color: #cdcdcd;
  background-color: transparent;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: #d8647e;
}

#input * {
  outline: 4px solid #d8647e !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #cdcdcd;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: #cdcdcd;
}

/* Selected Entry */
#entry:selected {
  border-radius: 1rem;
  color: #141415;
  background-color: #aeaed1;
}

#entry:selected #text {
  color: #141415;
}

#entry:drop(active) {
  background-color: #141415 !important;
}
