/*   _ _ _ _____ _____ _ 
    | | | |     |   __|_|
    | | | |  |  |   __| |
    |_____|_____|__|  |_|  STYLE
    
    by Bina
*/

@import ".cache/wal/colors-waybar.css";

* {
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 20px;
}

window {
  font-size: 14px;
  font-family: "Iosevka";
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  transparency: "real";
}

#outer-box {
  margin: 10px 10px 20px 10px;
  background-color: @background;
  opacity: 1;
  border-radius: 20px;
}

#inner-box {
  margin: 10px;
  background-color: @background;
  opacity: 0.9;
  border-radius: 20px;
}

#entry {
  padding: 10px 10px;
  height: 20px;
  border-radius: 10px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @color7;
}

#entry:selected {
  background-color: @color4;
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @color0;
}

#input {
  background: transparent;
  margin: 15px 20px 15px 20px;
  color: @color7;
  padding: 0px;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}
