layout {

    focus-ring {
        active-color   "#8767e4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#8767e4"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#8767e4"
        inactive-color "#311485"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#8767e480"
    }
}

recent-windows {
    highlight {
        active-color "#8767e4"
        urgent-color "#fd4663"
    }
}
