add_newline = false

format = """$directory$character"""

right_format = """$status$all"""

[character]
success_symbol = "[❯](red)[❯](yellow)[❯](green)"
error_symbol = "[❯](red)[❯](yellow)[❯](green)"
vicmd_symbol = "[❮](green)[❮](yellow)[❮](red)"

[git_branch]
format = '[$branch]($style) '
style = 'bold green'

[git_status]
format = '$all_status$ahead_behind '
ahead = '[⬆](bold purple) '
behind = '[⬇](bold purple) '
staged = '[✚](green) '
deleted = '[✖](red) '
renamed = '[➜](purple) '
stashed = '[✭](cyan) '
untracked = '[◼](white) '
modified = '[✱](blue) '
conflicted = '[═](yellow) '
diverged = '⇕ '
up_to_date = ''

[directory]
style = "blue"
truncation_length = 1
truncation_symbol = ""
fish_style_pwd_dir_length = 1

[cmd_duration]
format = '[$duration]($style) '

[line_break]
disabled = true

[status]
disabled = false
symbol = '✘ '

[docker_context]
symbol = "   "
format = "[$symbol$context]($style)"

[java]
symbol = "   "
format = "[$symbol($version )]($style)"

[nodejs]
format = "[$symbol($version )]($style)"
symbol = "   "

[package]
symbol = "   "
format = "[$symbol($version )]($style)"

[python]
symbol = "   "
format = "[$symbol($version $virtualenv)]($style)"
